.DateInput_input {
    background-color: black;
    color: white !important;
    font-weight: bold !important;
    border-radius: 12px !important;
}

.DateInput_input::placeholder {
    background-color: black;
    color: white !important;
    font-weight: bold !important;
    opacity: 1;
    border-radius: 12px !important;
}

p{
    font-size: 20px;
}


.dash-filter input {
    color: #FFF !important;
}
