.DateInput_input {
    background-color: black;
    color: white !important;
    font-weight: bold !important;
    border-radius: 12px !important;
}

.DateInput_input::placeholder  {
    background-color: black;
    color: white !important;
    font-weight: bold !important;
    opacity: 1;
    border-radius: 12px !important;
}

p{
    font-size: 20px;
}


.dash-filter input  #num-from-input-causalimpact #num-to-input-causalimpact {
    background-color: black;
    color: #FFF !important;
}


#num-from-input-causalimpact, 
#num-to-input-causalimpact {
    background-color: #1e1e1e !important;
    color: white !important;
    border-color: #444 !important;
}

#num-from-input-causalimpact::placeholder,
#num-to-input-causalimpact::placeholder {
    background-color: black;
    color: white !important;
    font-weight: bold !important;
    opacity: 1;
    border-radius: 12px !important;
}